<div class="dialog-parent dialog-hidden" id="dialog-component">
    <div class="dialog-box floating-box">
        <div class="dialog-option no-display" data-dialogtype="menu">
            <div>
                <a href="/events" class="option">Events</a>
                <a href="/songs" class="option">Songs</a>
                <a href="/splits/edit" class="option">Splits</a>
                <a href="https://www.huskiespepband.com/" target="_blank" class="option">The Pep Band <span class="material-symbols-rounded small">open_in_new</span></a>
                <div class="spacing-top">
                    <% if(user) { %>
                        <a onclick="log_out_click()" class="option">Log Out</a>
                        <div style="width:65px;height:10px"></div>
                        
                    <% } else { %>
                        <a onclick="sign_in_click()" class="option">Sign In</a>
                    <% } %>
                </div>
            </div>  
            <div class="spacing-top flex center">
                <a onclick="hideDialog()" class="option material-symbols-rounded medium">close</a>
            </div>
        </div>

        
        <div class="dialog-option no-display" data-dialogtype="urgent_buttons">
            <div class="flex center">
                <lottie-player id="dialog-urgent_buttons-lottie" src="/lotties/error.json" class="urgent-lottie" background="transparent" speed="1" delay="0.5" autoplay loop></lottie-player>
            </div>
            

            <div>
                
                <div class="dialog-information">
                    <div class="flex center">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                    <div class="flex center spacing-top">
                        <span class="small" id="dialog-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
                    </div>
                </div>
            </div>
            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
        </div>
        <div class="dialog-option no-display" data-dialogtype="buttons">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div>
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                    <div>
                        <span class="small dialog-text-content" id="dialog-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
                    </div>
                </div>
            </div>
            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
        </div>
        <div class="dialog-option no-display" data-dialogtype="inputs">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                    <div class="flex apart">
                        <span class="small dialog-text-content" id="dialog-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
                    </div>
                </div>
            </div>
            <div class="flex center" id="dialog-input-parent">
                <div class="dialog-buttons wrap" id="dialog-inputs">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Input Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" placeholder="Act 1"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex apart">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons-inputs">
                    <button class="button-main dialog-button">Done</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>

        <div class="dialog-option no-display" data-dialogtype="song">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>

            </div>
            <div class="dialog-song-container">
                <div class="flex center">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Song Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_song_changeSearch()" id="dialog-song-search-name" placeholder="8675309"/>
                        </div>
                    </div>
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Artist</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_song_changeSearch()" id="dialog-song-search-artist" placeholder="John Doe"/>
                        </div>
                    </div>
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Category</span>
                        </div>
                        <div class="flex apart">
                            <select class="input dialog-detail-value" onchange="dialog_song_changeSearch()" id="dialog-song-search-category">
                                <option value="regular">Regular</option>
                                <option value="quick">Quickie</option>
                                <option value="any" selected>Any</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="no-display flex center" id="dialog-song-empty">
                    <%- include('empty.ejs', {filters: true, message: "No songs found..."}) %>
                </div>
                <div class="flex center wrap dialog-song-parent" id="dialog-song-parent">
                    
                </div>
            </div>
            

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        <div class="dialog-option no-display" data-dialogtype="user">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>

            </div>
            <div class="dialog-song-container">
                <div class="flex center">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Username</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_user_changeSearch()" id="dialog-user-search-username" placeholder="johndoe"/>
                        </div>
                    </div>
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Full Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_user_changeSearch()" id="dialog-user-search-full_name" placeholder="John Doe"/>
                        </div>
                    </div>
                </div>
                <div class="no-display flex center" id="dialog-user-empty">
                    <%- include('empty.ejs', {filters: true, message: "No users found..."}) %>
                </div>
                <div class="flex center start wrap dialog-song-parent" id="dialog-user-parent">
                    
                </div>
                
            </div>
            

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        <div class="dialog-option no-display" data-dialogtype="permission">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>

            </div>
            <div class="dialog-song-container">
                <div class="no-display flex center" id="dialog-permission-empty">
                    <%- include('empty.ejs', {filters: false, message: "No additional permissions found..."}) %>
                </div>
                <div class="flex center start wrap dialog-song-parent" id="dialog-permission-parent">
                    
                </div>
            </div>
            

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        <div class="dialog-option no-display" data-dialogtype="icon">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>
            </div>
            <div class="dialog-song-container">
                <div class="flex center">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Icon Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_icon_changeSearch()" id="dialog-icon-search-name" placeholder="bolt"/>
                        </div>
                    </div>
                </div>
                <div class="no-display flex center" id="dialog-icon-empty">
                    <%- include('empty.ejs', {filters: true, message: "No icons found..."}) %>
                </div>
                <div class="flex center start wrap dialog-song-parent" id="dialog-icon-parent">
                    
                </div>
            </div>
            <!-- <div class="flex center wrap dialog-song-parent" id="dialog-icon-parent">
                <div class="dialog-detail-item">
                    <div class="flex apart">
                        <span class="tiny dialog-detail-tag">Icon Name</span>
                    </div>
                    <div class="flex apart">
                        <input onchange="dialog_icon_changeIcon(this)" type="text" class="input dialog-detail-value" id="dialog-icon-input" placeholder="Icon Name"/>
                    </div>
                </div>
                
                <span class="material-symbols-rounded large" id="dialog-icon-preview">bolt</span>
            </div> -->

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>

        <div class="dialog-option no-display" data-dialogtype="image">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>
            </div>
            
            <div class="dialog-song-container flex apart flex-column">
                <div class="flex center wrap dialog-song-parent" id="dialog-image-parent">

                </div>
                <div class="dialog-form flex center">
                    <img id="dialog-image-preview" class="dialog-image-preview" src="/images/placeholder.png"/>
                    <input onchange="dialog_image_changeFile(this)" type="file" id="dialog-image-input" class="input" accept=".png,.jpg,.jpeg,.svg,.json"/>
                </div>
            </div>
            

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        
    </div>
</div>