<div class="dialog-parent dialog-hidden" id="dialog-component">
    <div class="dialog-box floating-box">
        <div class="dialog-option" data-dialogtype="buttons">
            <div class="flex center start">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                    <div class="flex apart">
                        <span class="small dialog-text-content" id="dialog-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
                    </div>
                </div>
            </div>
            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
        </div>
        
    </div>
</div>