<div class="dialog-parent dialog-hidden" id="dialog-component">
    <div class="dialog-box floating-box">
        <div class="dialog-option no-display" data-dialogtype="buttons">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div>
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                    <div>
                        <span class="small dialog-text-content" id="dialog-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
                    </div>
                </div>
            </div>
            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
        </div>
        <div class="dialog-option no-display" data-dialogtype="input">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                    <div class="flex apart">
                        <span class="small dialog-text-content" id="dialog-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span>
                    </div>
                </div>
            </div>
            <div class="flex center" id="dialog-input-parent">
                <div class="dialog-buttons wrap" id="dialog-inputs">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Input Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" placeholder="Act 1"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex apart">
                <div></div>
                <div class="flex center dialog-buttons wrap">
                    <button class="button-main dialog-button">Done</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>

        <div class="dialog-option no-display" data-dialogtype="song">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>

            </div>
            <div class="dialog-song-container">
                <div class="flex center">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Song Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_song_changeSearch()" id="dialog-song-search-name" placeholder="8675309"/>
                        </div>
                    </div>
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Artist</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_song_changeSearch()" id="dialog-song-search-artist" placeholder="John Doe"/>
                        </div>
                    </div>
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Category</span>
                        </div>
                        <div class="flex apart">
                            <select class="input dialog-detail-value" onchange="dialog_song_changeSearch()" id="dialog-song-search-category">
                                <option value="regular">Regular</option>
                                <option value="quick">Quickie</option>
                                <option value="any" selected>Any</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="flex center wrap dialog-song-parent" id="dialog-song-parent">
                    
                </div>
            </div>
            

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        <div class="dialog-option no-display" data-dialogtype="user">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>

            </div>
            <div class="dialog-song-container">
                <div class="flex center">
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Username</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_user_changeSearch()" id="dialog-user-search-username" placeholder="johndoe"/>
                        </div>
                    </div>
                    <div class="dialog-detail-item">
                        <div class="flex apart">
                            <span class="tiny dialog-detail-tag">Full Name</span>
                        </div>
                        <div class="flex apart">
                            <input type="text" class="input dialog-detail-value" onchange="dialog_user_changeSearch()" id="dialog-user-search-full_name" placeholder="John Doe"/>
                        </div>
                    </div>
                </div>
                <div class="flex center wrap dialog-song-parent" id="dialog-user-parent">
                    
                </div>
            </div>
            

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        <div class="dialog-option no-display" data-dialogtype="icon">
            <div class="dialog-header">
                <div class="dialog-icon-flex">
                    <div class="dialog-icon-dot info-bg flex center">
                        <span class="material-symbols-rounded" id="dialog-icon">cancel</span>
                    </div>
                </div>
                
                <div class="dialog-information">
                    <div class="flex apart">
                        <span class="large" id="dialog-title">Title</span>
                    </div>
                </div>
            </div>
            <div class="flex center wrap dialog-song-parent" id="dialog-icon-parent">
                <div class="dialog-detail-item">
                    <div class="flex apart">
                        <span class="tiny dialog-detail-tag">Icon Name</span>
                    </div>
                    <div class="flex apart">
                        <input onchange="dialog_icon_changeIcon(this)" type="text" class="input dialog-detail-value" id="dialog-icon-input" placeholder="Icon Name"/>
                    </div>
                </div>
                
                <span class="material-symbols-rounded large" id="dialog-icon-preview">bolt</span>
            </div>

            <div class="flex apart" id="dialog-button-parent">
                <div></div>
                <div class="flex center dialog-buttons wrap" id="dialog-buttons">
                    <button class="button-main dialog-button">Confirm</button>
                    <button class="button-main dialog-button">Cancel</button>
                </div>
            </div>
            
        </div>
        
    </div>
</div>