<!DOCTYPE html>
<html>
  <head>
    <title>My Account</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/events.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="splitpage">
                <div class="content-left">
                    
                    
                </div>
                <div class="content-right">
                    
                    
                    
                </div>
            </div>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>