<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/events.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <div class="splitpage">
                <div class="content-left">
                    <div class="flex center">
                        <span class="large spacing">All Events</span>
                        <button class="button-main"><span class="button-text">Create Event</span></button>
                    </div>
                    
                    <span class="small spacing">Here are all of the upcoming Pep Band events! You can attend any events as a Michigan Tech student, but fans of the Huskies can attend at a small price!</span>
                    <div class="flex center">
                        <% events.forEach(function(e){ %>
                            <%- include('./partials/event/event_basic.ejs', {event: e}); %>
                        <% }); %>
                    </div>
                    
                </div>
                <div class="content-right">
                    <div class="flex center">
                        <span class="large spacing">Announcements</span>
                        <button class="button-main"><span class="button-text">Add Announcement</span></button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>