<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%- include('./partials/links.ejs'); %>
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <div class="mainbody">
        <div class="center">

        </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>