<!DOCTYPE html>
<html>
  <head>
    <title>Create Event</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/events.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <span class="large">Create Event</span>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>