<!DOCTYPE html>
<html>
  <head>
    <title>Create Event</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/createevent.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
            <span class="large">Create Event</span>
            <form>
                <div class="flex center section">
                    <span class="small label">Event Name</span>
                    <input type="text" class="input" placeholder="Event Name" name="name" />
                </div>
                <div class="flex center section">
                    <span class="small label">Event Description</span>
                    <textarea class="input small" placeholder="Description" name="name"></textarea>
                </div>
                <div class="flex center section">
                    <span class="small label">Event Start</span>
                    <input type="time" class="input" placeholder="Event Name" name="name" />
                    <input type="datetime-local" class="input" placeholder="Event Name" name="name" />
                </div>
                <div class="flex center section">
                    <span class="small label">Event Type</span>
                    <select class="input select-from-none">
                        <option value="" disabled selected>Select your option</option>
                        <option value="1">Pep Band</option>
                        <option value="2">Hockey</option>
                        <option value="3">Basketball</option>
                        <option value="4">Volleyball</option>
                        <option value="5">Football</option>
                        <option value="6">Soccer</option>
                        <option value="7">Other</option>
                    </select>
                </div>
                <div class="flex center section">
                    <span class="small label">Show</span>
                </div>
            </form>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>