<!DOCTYPE html>
<html>
  <head>
    <title>Pep Band</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js"></script>
  </head>
  <body>
    <%- include('./partials/alt_header.ejs'); %>

    <div class="mainbodyoutside flex center">
        <div class="mainbody">
          <%- include('./partials/sprawl.ejs', {images: images}); %>
          <div class="grayportion">

          </div>
          <div class="largelogo">
            <img src="/images/pepband.png" alt="Pep Band Logo" />
          </div>
        </div>
        
    </div>
    
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>