<!DOCTYPE html>
<html>
  <head>
    <title>Pep Band</title>
    <%- include('./partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/index.js"></script>
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>

    <script>
      var imageStructure = `<%- JSON.stringify(images) %>`;

      var images = JSON.parse(imageStructure)

    </script>
    <div class="mainbodyoutside flex center">
        <div class="mainbody">
          <object class="design" data="/svg/spawl.svg" onload="svgLoaded(this)" type="image/svg+xml">
            <span class="large">Cannot Load</span>
          </object>
            
        </div>
        
    </div>
    
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>