<!--

    "event" parameter passed in. This parameter contains...
     - eid
     - etyid
     - etid_used
     - begin
     - end
     - open
     - show
     - data
     - updated
     - name

-->


<div class="floating-box flex apart event start">
    <img class="event-image" src="/images/pepband.png" alt="Event Image">
    <div class="event-content">
        <div class="flex apart">
            <span class="title"><%= event.name %></span>
        </div>
        
    </div>
    
</div>