<div class="song-slot slot-empty flex center">
    <div>
        <span class="medium slot-empty-content">Slot Empty <%= slotIndex %></span>
        <span class="small slot-empty-content"><%= segment.segid %></span>

    </div>
    
</div>