<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%- include('../partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <div class="mainbody flex center">
        <div>
            <div class="flex center">
                <a href="/"><lottie-player src="/lotties/error.json" class="image" background="transparent"  speed="1" delay="0.5" autoplay></lottie-player></a>
            </div>
            
            <div class="holdboth">
                <div class="error-section">
                    <span class="huge error"><%= error.code %></span>
                    <span class="large">"<%= error.message %>"</span>
                </div>
                <div class="explanation-section">
                    <span class="large">Oops! We couldn't get you to where you wanted to go. You may have gotten this error because you visited a broken link, or you don't have the permissions to view this page.</span>
                    <div class="flex center options">
                        <button class="button-main" onclick="history.back()"><span class="button-text">Go Back</span></button>
                        <button class="button-alternate" onclick="window.location = '/'"><span class="button-text">Go to Home</span></button>
                    </div>
                    
                </div>
                
                
                
            </div>
        </div>
        
        
    </div>
  </body>
</html>