<!DOCTYPE html>
<html>
  <head>
    <title>Redirect</title>
    <%- include('../partials/links.ejs'); %>
    <link rel="stylesheet" href="/css/error.css" />
    <script src="/js/redirect.js"></script>
  </head>
  <body>
    
    <div class="mainbody flex center">
        <div>
            <div class="flex center">
                <a href="/"><lottie-player src="/lotties/error.json" class="image" background="transparent"  speed="1" delay="0.5" autoplay></lottie-player></a>
            </div>
            
            <div class="holdboth">
                <span class="large">Redirecting...</span>
                
                
                
            </div>
        </div>
        
        
    </div>
  </body>
</html>